/*
 * Define project wide constants and styles
 */
:root {
  --GREEN: rgb(11, 163, 96);
  --GREEN-LIGHT: rgb(68, 209, 146);
  --WHITE: rgb(255, 255, 255);
  --BLACK: rgb(0, 0, 0);

  --SHADOW-CARD: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  /* Base styles */
  font-family: 'Open Sans';
  font-size: 16px;
  background-color: rgb(230, 230, 230);
}

#kahmy p {
  padding: 0;
}

#kahmy h1 {
  margin: 0 0 1.5rem 0;
}

#kahmy h2 {
  margin-top: 0;
}

#kahmy h3 {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 2rem;
}

.content {
  box-shadow: var(--SHADOW-CARD);
  background-color: var(--WHITE);
  padding: 2rem;
  margin-bottom: 2rem;
}

.text-page-title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.text-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.text-basic {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.text-author {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.text-timestamp {
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.feed-control {
  padding: 0 1rem;
}

.comment {
  padding-bottom: 2rem;
  transition: background-color 5s ease;
}

.comment + .comment {
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

.subcomment {
  border-left: 2px solid #ddd;
  transition: background-color 5s ease;
  margin-top: 1rem;
  padding-left: 1rem;
}

.subcomment + .subcomment {
  margin-top: 0;
  padding-top: 1rem;
}

.highlight {
  background-color: var(--GREEN-LIGHT);
}

.text-basic img {
  max-width: 100%;
  height: auto;
}

.title-input {
  display: block;
}

.button-pill {
  color: var(--GREEN);
  font-size: 1.2rem;
  border: 2px solid;
  border-radius: 50px;
  border-color: var(--GREEN);
  padding: 5px 35px 5px 35px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.link-pill {
  color: var(--GREEN);
  font-size: 1.2rem;
  border: 2px solid;
  border-radius: 50px;
  border-color: var(--GREEN);
  padding: 4px 35px 5px 35px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.button-pill:hover,
.link-pill:hover {
  color: var(--GREEN-LIGHT);
  border-color: var(--GREEN-LIGHT);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.button-pill:focus,
.link-pill:focus {
  outline: 0;
  color: var(--GREEN-LIGHT);
  border-color: var(--GREEN-LIGHT);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.filled,
#kahmy a.filled {
  color: var(--WHITE);
  background-color: var(--GREEN);
}

.filled:hover,
.filled:focus,
#kahmy a.filled:hover,
#kahmy a.filled:focus {
  color: var(--WHITE);
  background-color: var(--GREEN-LIGHT);
}

.link-pill + .link-pill,
.button-pill + .button-pill {
  margin-left: 1rem;
}

.button-arrow {
  color: var(--GREEN);
  text-decoration: none;
}

i.arrow {
  position: absolute;
  margin-top: 0.47rem;
  border: solid var(--GREEN);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

i.arrow.right {
  margin-left: 0.2rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i.arrow.down {
  margin-left: 0.3rem;
  margin-top: 0.4rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i.arrow.up {
  margin-left: 0.3rem;
  margin-top: 0.7rem;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i.arrow.small {
  border-width: 0 1px 1px 0;
}

i.arrow.small.up {
  margin-top: 0.75rem;
}

i.arrow.small.down {
  margin-top: 0.5rem;
}

.toggle-label {
  display: block;
  margin-bottom: 0.3rem;
}

.form-group {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

.toggle {
  display: flex;
  flex-flow: row nowrap;
}

.toggle input {
  position: fixed;
  opacity: 0;
}

.toggle label {
  padding: 0.3rem 1.2rem;
  color: var(--GREEN);
  font-size: 1rem;
  border: 2px solid;
  border-radius: 50px;
  border-color: var(--GREEN);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.toggle label:first-of-type {
  border-radius: 50px 0 0 50px;
  border-right: 0;
}

.toggle label:last-of-type {
  border-radius: 0 50px 50px 0;
}

.toggle input:hover + label,
.toggle input:focus + label {
  color: var(--GREEN-LIGHT);
  border-color: var(--GREEN-LIGHT);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.toggle input:checked + label {
  color: var(--WHITE);
  border-color: var(--GREEN);
  background-color: var(--GREEN);
}
