/*
 * CSS reset
 */
html {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
 * Define project wide constants and styles
 */
:root {
  --GREEN: rgb(11, 163, 96);
  --GREEN-LIGHT: rgb(68, 209, 146);
  --WHITE: rgb(255, 255, 255);
  --BLACK: rgb(0, 0, 0);

  --SHADOW-CARD: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  /* Base styles */
  font-family: 'Open Sans';
  font-size: 16px;
  padding: 3rem;
  background-color: rgb(230, 230, 230);
}

.content {
  box-shadow: var(--SHADOW-CARD);
  background-color: var(--WHITE);
  padding: 2rem;
  margin-bottom: 2rem;
}

.text-page-title {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.text-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.text-basic {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.text-author {
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.text-timestamp {
  font-size: 0.8rem;
  font-style: italic;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.button-pill {
  color: var(--GREEN);
  font-size: 1.2rem;
  border: 2px solid;
  border-radius: 50px;
  border-color: var(--GREEN);
  padding: 5px 35px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-decoration: none;
  display: inline-block;
}

.button-pill:hover {
  color: var(--GREEN-LIGHT);
  border-color: var(--GREEN-LIGHT);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.button-arrow {
  color: var(--GREEN);
  text-decoration: none;
}

i.arrow {
  position: absolute;
  margin-top: 0.47rem;
  border: solid var(--GREEN);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

i.arrow.right {
  margin-left: 0.2rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

i.arrow.left {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
